<div class="w-200 text-center pt-5">
  <h1 class="mb-4">Stupid Coaching</h1>

  <form action="/answer" data-turbo="false">
    <div class="input-group" style="padding-left: 500px; padding-right: 500px;">
      <label for="question" class="form-label w-100">ask your coach anything:</label>
      <input class="form-control" type="text" id="question" name="answer" placeholder="Coach : What do you want !?">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
